# Week 2 Notes Data Types, Variables and Boolean Logic

## Defining Variables in Python

Variables are defined in Python with the following syntax:

```
<var> = <value or expression>
```

Rules for variable names:

 * Variables must start with a letter
 * Variables can only contain letters, numbers and the underscore character
 * No spaces or puctuation in variables names
 * Variables do not start with with ```[ ( " { '```
 * By convention, variable name are descriptive and only contain lower-case letters and underscore character (or all uppercase letters for global constants)

In [1]:
# Example of a variable assignment

var_name = 5.5

In [2]:
5th_var = 5

SyntaxError: invalid syntax (<ipython-input-2-904eaf525e08>, line 1)

In [3]:
fifth-var = 5

SyntaxError: can't assign to operator (<ipython-input-3-e99cd8abacd4>, line 1)

In [4]:
fifth var=5

SyntaxError: invalid syntax (<ipython-input-4-0c84f1e34ca8>, line 1)

## Numeric Data Types in Python

 * integers
 * floats (floating point numbers)
 * complex (complex numbers)

### Integers

Integers are whole numbers, negative positive and zero

In [5]:
a = 5
b = -3
c = 0

We can investigate the data type of a variable using the ```type()``` function

In [6]:
type(a)

int

In [7]:
type(b)

int

In [8]:
type(0)

int

## Floats

Floats or floating point numbers are decimal numbers. Floats are defined with the dot character ```.``` or using scientific notation and an ```E``` or ```e```

In [11]:
d = 5.5
type(d)

float

In [12]:
f = 3e8  # 3.0 x 10^8
type(f)

float

In [13]:
g = 3E8
type(g)

float

In [15]:
h = 3.0e8
print(h)

300000000.0

In [16]:
# define 5 as a float instead of as an integer, use a dot . or scientific notation
k = 5
type(k)

int

In [17]:
l = 5.
type(l)

float

## Complex numbers

Complex numbers contain a real term and an imaginary term. Complex numbers are written as ```<real> + <imag>j```. ```j``` must be used for the imaginary term (not ```i```)

In [18]:
m = 3 + 4j
print(m)

(3+4j)

In [19]:
type(m)

complex

In [20]:
n = 3 + 4i

SyntaxError: invalid syntax (<ipython-input-20-5515d0bbb882>, line 1)

In [22]:
# complex numbers can be added or subtracted from floats or integers
n = 3 + 4j
o = 2
n + o

(5+4j)

## String Data Type

In [24]:
s = 'engineering'
type(s)

str

## List

Lists are ordered squences of values. List can contain one or many different data types. In Python, lists are defined with square brackets, elements separated by commas.

In [25]:
l = [1,1.1,'one']
type(l)

list

In [26]:
m = [1,2,3] # list of integers
n = [1,2.0,3+0j] # a list of three numeric data types

### Lists are indexed and sliced using square brackets (just like strings are indexed and sliced with square brackets)

In [27]:
l = ['one','two','three']

In [28]:
l[0]    # pull out out the first value from the list, the value at index 0

'one'

In [29]:
l[2]    # pull out the 3rd value from the list, the value at index 2

'three'

In [33]:
l[0:3:2]   # pull out 'one' and 'three' from the list   start:stop:step

['one', 'three']

In [34]:
l[:3:2]

['one', 'three']

In [35]:
l[::2]

['one', 'three']

In [36]:
l[:2]   # default start:stop

['one', 'two']

In [37]:
l[:]   # default start and default stop, or all items in the list

['one', 'two', 'three']

## Dictionary

Dictionaries store elements in key:value pairs

```
d = {key1:value1, key2:value2}
```

In [39]:
d = {0:'zero', 1:'one', 2:'two'}

In [40]:
d[0]

'zero'

In [41]:
d[2]

'two'

In [42]:
d = {0:'zero', 1:'one', 1:'one one', 2:'two'}

In [43]:
d

{0: 'zero', 1: 'one one', 2: 'two'}

## Sets

Sets are lists of unique elements, defined with curely braces. They can also be though of as dictionaries with out values

In [45]:
s = {1,1,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [52]:
s = {1,1.0,2,3,4,5}
s

{1, 2, 3, 4, 5}

In [49]:
l = [1,1,2,3,4,5]
l

[1, 1, 2, 3, 4, 5]

## Tuples

Tuples are an immutable container data type. Tuples are immutable lists

In [53]:
l = [1,2,3]
l

[1, 2, 3]

In [54]:
l[1] = -5
l

[1, -5, 3]

In [55]:
t = (1,2,3)  # tuples are defined with parenthesis, elements separated by commas
t

(1, 2, 3)

In [56]:
t[1] = -5

TypeError: 'tuple' object does not support item assignment

In [57]:
# string are also immutable
s = '123'
s

'123'

In [58]:
s[1]

'2'

In [59]:
s[1] = '2'

TypeError: 'str' object does not support item assignment

In [60]:
t = ('zer0','one','two')
t[1]

'one'

In [61]:
s = {1,1,2,3,4}
s[0]

TypeError: 'set' object does not support indexing

In [65]:
d = {2:'two',1:'one'}
d[1]

'one'

## Boolean Data Type

The boolean data type can be true or false. In Python, the keywords True and False must be a whole word with a CAPITAL first letter.

In [66]:
a = True
type(a)

bool

In [67]:
b = false

NameError: name 'false' is not defined

In [68]:
b = F

NameError: name 'F' is not defined

### Combine Boolean variables with Boolean operators

 * not
 * and
 * or
 * parenthesis can be used

In [69]:
a = True
b = False

In [70]:
not a

False

In [71]:
not b

True

In [72]:
a and b

False

In [73]:
a or b

True

In [75]:
a == b # equivalent to

False

In [76]:
a != b   # not equivalent to

True

In [77]:
a or (a and not b) == b

True

### other data types can be converted to the boolean data type with the bool() function

In [78]:
c = 1
bool(c)

True

In [79]:
d = 0.0
bool(d)

False

In [80]:
f = 'False'
bool(f)

True

In [81]:
g = ''
bool(g)

False

In [83]:
h = ' '  # a string containing one space
bool(h)

True

In [84]:
0 | 1000

1000

In [85]:
True or ^False

SyntaxError: invalid syntax (<ipython-input-85-7faf3429f08a>, line 1)

## Review of Indexing and Slicing

In [87]:
s = 'Engineering'

In [88]:
s[2]

'g'

In [89]:
s[0]

'E'

In [90]:
s[-1]

'g'

In [91]:
s[-2]

'n'

## Indexing Slicing "Boogle" Activity

In [98]:
# pull as many "scrabble words" out of the string

s = "snow days rule"

In [95]:
s[0:4]

'snow'

In [96]:
s[1:3]

'no'

In [97]:
s[6]

'a'

## Review of Python Dictionaries

In [105]:
d = {'c':'cat','d':'dog'}
d

{'c': 'cat', 'd': 'dog'}

In [106]:
d.items()

dict_items([('c', 'cat'), ('d', 'dog')])

In [107]:
d.keys()

dict_keys(['c', 'd'])

In [108]:
d.values()

dict_values(['cat', 'dog'])

In [109]:
# put a new item in the dictionary
d['b'] = 'bird'
d

{'c': 'cat', 'd': 'dog', 'b': 'bird'}

In [110]:
d['c']

'cat'

In [111]:
d

{'c': 'cat', 'd': 'dog', 'b': 'bird'}

In [112]:
# pull and item out of a dictionary
# pull out cat from the dictionary

d.pop('c')
d

{'d': 'dog', 'b': 'bird'}

In [113]:
item_dog = d.pop('d')
item_dog

'dog'

## Unicode characters

In [119]:
# the greek character omega

o = '\u03a5'
o

'Υ'

In [117]:
# the greek character delta

d = '\u0394'
d

'Δ'

In [120]:
# i with a unit vector hat notation
i = 'i\u0302'
i

'î'

## Monitor Off Worksheet - Predict Output