# Week 2 Notes: Indexing, Data Type Conversions and Input

## Indexing Review

In [1]:
s = 'string'

In [2]:
s[0]

's'

In [3]:
s[-2]

'n'

In [4]:
s[0:5:2]
s[:5:2]
s[::2]

'srn'

In [5]:
s[::-1]   # return the elements in reverse order

'gnirts'

In [6]:
lst = ['zero','one','two']

In [7]:
lst[2]

'two'

In [8]:
lst[-1]

'two'

In [9]:
lst[0:3:2]
lst[:3:2]
lst[::2]

['zero', 'two']

In [10]:
lst[1] = 1   #can index into a list
lst

['zero', 1, 'two']

In [11]:
tpl = ('zero','one','two')

In [12]:
tpl[1]

'one'

In [13]:
tpl[-2]

'one'

In [14]:
tpl[0:3:2]

('zero', 'two')

In [15]:
tpl[-1:-4:-2]

('two', 'zero')

In [16]:
tpl[1] = 1

TypeError: 'tuple' object does not support item assignment

## Data Type Conversions

In [17]:
a = 5
type(a)

int

In [18]:
a_flt = float(a)
type(a_flt)

float

In [19]:
a_bool = bool(a)
type(a_bool)

bool

In [20]:
a_bool

True

In [21]:
a_str = str(a)
type(a_str)

str

In [22]:
b = 'The number is '
print(b+a)

TypeError: can only concatenate str (not "int") to str

In [23]:
b = 'The number is '
a = 5
a_str = str(a)
print(b+a_str)

The number is 5

In [24]:
b = 'The number is '
a = 5
a_str = str(a)
print(b,a)

The number is  5

## The input function

The syntax to use Python's input function

```
<str_var> = input('The message the user sees')
```

In [25]:
name = input("What is your name: ")
print('Hello '+name)

What is your name: Peter
Hello Peter

In [26]:
print("this is the next cell") # This cell won't run unless the cell above that asks for input completes

this is the next cell

In [27]:
print("this is the next cell")

this is the next cell

In [28]:
print("this is the next cell")

this is the next cell

In [29]:
# Ask the user for their age and then print out what their age was last year
age_str = input('how old are you')
age_int = int(age_str)
age_last_year_str = str(age_int-1)
print('Last year your were: '+age_last_year_str)

how old are you9
Last year your were: 8

In [30]:
# Make sure to supply input to a Jupyter notebook code cell that asks for it. Jupyter will stop running